<div [ngClass]="fontSmall">
  <span>
    Hi im <strong>Kent Fueconcillo</strong> and im a <strong>Web Developer</strong>
  </span><br/><br/>

  <span>
   Github : <a href="https://github.com/sirb0rab0g1/">https://github.com/sirb0rab0g1/</a>
  </span><br/>
  <span>
   BItBucket : <a href="https://bitbucket.org/kentfueconcillo/">https://bitbucket.org/kentfueconcillo/</a>
  </span><br/>
  <span>
   linkedin : <a href="https://www.linkedin.com/in/kentfueconcillo/">https://www.linkedin.com/in/kentfueconcillo/</a>
  </span>

</div>
