<div [ngClass]="fontSmall">
  <span>
    Hi im <strong>Kent Fueconcillo</strong> 
  </span><br/><br/>
  <strong>Social Media</strong><br>
  <span>
   Github : <a href="https://github.com/sirb0rab0g1/">https://github.com/sirb0rab0g1/</a>
  </span><br/>
  <span>
   BItBucket : <a href="https://bitbucket.org/kentfueconcillo/">https://bitbucket.org/kentfueconcillo/</a>
  </span><br/>
  <span>
   linkedin : <a href="https://www.linkedin.com/in/kentfueconcillo/">https://www.linkedin.com/in/kentfueconcillo/</a>
  </span><br><br>
  <strong>Work Experience</strong><br>
  <span>
   Web App Developer at <a href="http://infosoftstudio.com/">http://infosoftstudio.com/</a>
  </span><br>
  <span>
   Web Developer at <a href="http://infosoftstudio.com/">http://infosoftstudio.com/</a>
  </span>
</div>
