<div>
  <div [ngClass]="vallignCenter" class="col-lg-12 ">
    <i class="material-icons">desktop_mac</i>
    <div style="margin-left:40px;" class="justify-content-center">
      <div [ngClass]="speciatiesTitle">Website production</div>
      <div [ngClass]="fontSmall">Great, modern website designs.</div>
    </div>
  </div>
  <div [ngClass]="vallignCenter" class="col-lg-12 ">
    <i class="material-icons">view_carousel</i>
    <div style="margin-left:40px;" class="justify-content-center">
      <div [ngClass]="speciatiesTitle">Front-End Development</div>
      <div [ngClass]="fontSmall">Front-End Development.</div>
    </div>
  </div>
  <div [ngClass]="vallignCenter" class="col-lg-12">
    <i class="material-icons">phonelink</i>
    <div style="margin-left:40px;" class="justify-content-center">
      <div [ngClass]="speciatiesTitle">Responsive design</div>
      <div [ngClass]="fontSmall">Great, modern website designs.</div>
    </div>
  </div>
</div>
